<div class="shadow-lg p-3 mb-5 bg-white rounded w-50 p-3 mx-auto">
  <form (submit) = "changePassword()">
    <div class="form-group">
      <label>Username</label>
      <input type="text" class="form-control" [(ngModel)]="username" name="username">
    </div>
    <div class="form-group text-center">
      <a class="btn btn-primary" (click)="generateOTPclick()" *ngIf="!otpGenerated" >Generate OTP</a>
    </div>
    <div *ngIf="otpGenerated && !otpMatched">
      <div>
        <label>Write your OTP</label>
        <input (keypress)="numberOnly($event)" type="text" [(ngModel)]="otpEntered" name="otpEntered" id="otpEntered" class="form-control" minlength="4" maxlength="4">
      </div>
      <div>
          <a class="btn btn-primary" (click)="matchOTPclick()">Match OTP</a>
      </div>
    </div>
    <div class="form-group" *ngIf="otpGenerated && otpMatched">
      <label>New Password</label>
      <input type="password" class="form-control" [(ngModel)]="newPassword" name="newPassword">
    </div>
    <div class="text-center" *ngIf="otpGenerated && otpMatched">
    <input type="submit" class="btn btn-primary center" value="Change Password">
    </div>
  </form>
  </div>