<br />
<br />
<br />
<div class="text-center shadow-lg p-3 mb-5 bg-white rounded w-50 p-3 mx-auto">
  <form [formGroup]="myForm" (submit) = "changePassword()">
    <div *ngIf="!otpGenerated">
    <div>
      <mat-form-field class="manage-display">
      <input matInput formControlName="username" (keydown)="noEnter($event)" [(ngModel)]="username" name="username" id="username" placeholder="Username" required>
      <mat-error *ngIf="!myForm.controls.username.valid">
      </mat-error>
      </mat-form-field>
    </div>
    </div>
    <div *ngIf="otpGenerated">
    <div>
      <mat-form-field class="manage-display">
      <input matInput formControlName="username" [(ngModel)]="username" name="username" id="username" placeholder="Username" readonly>
      <mat-error *ngIf="!myForm.controls.username.valid">
      </mat-error>
      </mat-form-field>
    </div>
    </div>
    <div class="text-center">
      <button mat-raised-button type="button" (click)="generateOTPclick()" *ngIf="myForm.controls.username.valid && !otpGenerated">Generate OTP</button>
      <button mat-raised-button disabled type="button" (click)="generateOTPclick()" *ngIf="!myForm.controls.username.valid && !otpGenerated">Generate OTP</button>
    </div>

    <div *ngIf="otpGenerated && !otpMatched">
      <div>
        <mat-form-field class="manage-display">
        <input matInput formControlName="otpEntered" (keypress)="numberOnly($event)" [(ngModel)]="otpEntered" name="otpEntered" id="otpEntered" placeholder="Enter your OTP" required minlength="4" maxlength="4">
        <mat-error *ngIf="!myForm.controls.otpEntered.valid">
            Exactly <strong>4</strong> digits
        </mat-error>
        </mat-form-field>
      </div>
      <div class="text-center">
          <button mat-raised-button type="button" (click)="matchOTPclick()" *ngIf="myForm.controls.otpEntered.valid">Validate OTP</button>
          <button mat-raised-button disabled type="button" (click)="matchOTPclick()" *ngIf="!myForm.controls.otpEntered.valid">Validate OTP</button>
      </div>
    </div>

    <div *ngIf="otpGenerated && otpMatched">
        <mat-form-field class="manage-display">
        <input matInput type="password" formControlName="newPassword" [(ngModel)]="newPassword" name="newPassword" id="newPassword" placeholder="New Password" required>
        <mat-error *ngIf="!myForm.controls.newPassword.valid">
        </mat-error>
        </mat-form-field>
    </div>
    <div class="text-center" *ngIf="otpGenerated && otpMatched">
    <input disabled *ngIf="!myForm.controls.newPassword.valid" type="submit" class="btn btn-primary center" value="Change Password">
    <input *ngIf="myForm.controls.newPassword.valid" type="submit" class="btn btn-primary center" value="Change Password">
    </div>
  </form>
  </div>