<br />
<br />
<br />
<div class="text-center shadow-lg p-3 mb-5 bg-white rounded w-50 p-3 mx-auto">
    <form [formGroup]="myForm" (submit)="changePassword()">
        <div>
          <mat-form-field class="manage-display">
            <input matInput type="password" formControlName="password" [(ngModel)]="password" name="password" id="password" placeholder="Old Password" required>
            <mat-error *ngIf="!myForm.controls.password.valid">
            </mat-error>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field class="manage-display">
            <input matInput type="password" formControlName="newPassword" [(ngModel)]="newPassword" name="newPassword" id="newPassword" placeholder="New Password" required>
            <mat-error *ngIf="!myForm.controls.newPassword.valid">
            </mat-error>
          </mat-form-field>
        </div>
      <div class="text-center">
      <input disabled *ngIf="!myForm.controls.password.valid || !myForm.controls.newPassword.valid" type="submit" class="btn btn-primary" value="Change Password">
      <input *ngIf="myForm.controls.password.valid && myForm.controls.newPassword.valid" type="submit" class="btn btn-primary" value="Change Password">
    </div>
    </form>
  </div>