<div class="jumbotron text-center">
  <img src="http://i66.tinypic.com/11r7i8h.png" alt="daiict" height="200" width="200" class="center">
<p>

</p>
<p>

  </p>
  <h1>DA-IICT Exam Portal</h1>
<p class="lead">
    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
</p>
<div>
  <a class="btn btn-primary" [routerLink] = "['/login']">Login</a>
</div>
</div>

<div class="row">
<div class="col-md-12">
  <h3>First</h3>
  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
</div>
<div class="col-md-12">
  <h3>Second</h3>
  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
</div>
<div class="col-md-12">
  <h3>Third</h3>
  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
</div>
</div>

<!--
<div class="jumbotron text-center">
  <h1>The Team</h1>
</div>

<div class="row">
<div class="col-md-4">
    <img src="http://i64.tinypic.com/23jh638.jpg" border="0" class="rounded-circle center" height="200" width="200" alt="kalpit">
    <p>

    </p>
    <h5>Kalpit Shah</h5>
</div>
<div class="col-md-4">
    <img src="http://i68.tinypic.com/fd7m9x.jpg" border="0" class="rounded-circle" height="200" width="200" alt="saket">
    <p>

    </p>
    <h5>Saket Detroja</h5>
</div>
<div class="col-md-4">
    <img src="http://i64.tinypic.com/30w6lbp.jpg" border="0" class="rounded-circle" height="200" width="200" alt="divyesh">
    <p>

    </p>
    <h5>Divyesh Ransariya</h5>
</div>
<div class="col-md-4">
    <img src="http://i66.tinypic.com/2lv06ms.jpg" border="0" class="rounded-circle" height="200" width="200" alt="dadhania">
    <p>

    </p>
    <h5>Parth Dadhania</h5>
</div>
<div class="col-md-4">
    <img src="http://i67.tinypic.com/5tw1hl.jpg" border="0" class="rounded-circle" height="200" width="200" alt="abhosheks">
    <p>

    </p>
    <h5>Abhishek Padaria</h5>
</div>
</div>
-->
